*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.p-of-otp{
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
}
.otp{
    background-color: white;
    border:2px solid black;
    display: flex;
    width: max-content;
    height: 70vh;
    margin:80px 100px;
    padding:70px;
    flex-direction: column;
    box-shadow: 2px 4px 4px black;
    border-radius: 6px;

}
.otp-btn{
    margin-top: 20px;
    width: 13vw;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: white;
    box-shadow: 4px 8px 8px grey;
    /* margin-bottom: 40px; */
    box-shadow:10px #DC38F4;
    outline: #DC38F4;
    border: 0.2px solid violet;
    border-radius: 18px;
    padding: 8px 30px;
    background: linear-gradient(140deg,#25c6f7,#d61df3);
}
.an-p-of-otp{
    color: black;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
